@charset "utf-8";
@import 'compass';
@import 'reset';


//
// Variables
//

// Typography
$font-size: 16;
$line-height: 22;
  
@mixin elena     { font-family: elena-web-basic, serif; }
@mixin ff-dagny  { font-family: ff-dagny-web-pro, sans-serif; }
@mixin monospace { font-family: Menlo, Consolas, monospace; }

// Colours
$primary-hue:   270;
$secondary-hue: 270 - (360/1.618);

$background:  hsl($primary-hue, 23.6%, 9%);
$highlight:   hsl($primary-hue, 9%, 14.6%);
$purple:      hsl($primary-hue, 23.6%, 14.6%);
$offset:      hsl($primary-hue, 23.6%, 76.4%);

$aside:       hsl($secondary-hue, 2.6%, 38.2%);
$body:        hsl($secondary-hue, 5.6%, 61.8%);
$emphasis:    hsl($secondary-hue, 14.6%, 76.4%);

$link:        hsl($secondary-hue, 38.2%, 61.8%);

// Media queries
$m320: "screen and (min-width: 320px)";


//
// Basic styles
//

body {
  @include elena;
  font-size: em($font-size, 16);
  line-height: lines(1);
  background: $background;
  color: $body;
  -webkit-tap-highlight-color: $link;
}

a {
  color: $link;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  
  &:hover {
    border-bottom-color: $link;
  }
  
  &:active {
    color: $aside;
    border-color: $aside;
  }
}

h1, h2, h3, h4, h5, h6,
strong {
  @include ff-dagny;
  color: $emphasis;
}

code {
  @include monospace;
}

::selection      { background: hsl($primary-hue, 38.2%, 61.8%); color: $emphasis; }
-moz-::selection { background: hsl($primary-hue, 38.2%, 61.8%); color: $emphasis; }


//
// Repeating elements
//

.section {
  position: relative;
  overflow: hidden;
  background: $background;
  z-index: 100;
}

.canvas {
  position: fixed;
  left: 0; top: 0; right: 0; bottom: 0;
  z-index: 1;
  
  .cover-background {
    
  }
  
  .scaling-type {
    
  }
  
}

.content {
  max-width: rem(30, 16);
}


//
// Structure
//

#home {
  
}

#current-work {
  
}

#grid-systems {
  
}

#writing {
  
}

#about-me {
  
}

  
//
// Old posts
//
  
.old-post {
  max-width: lines(21);
  margin: 0 auto;
  padding: lines(3) lines(1.5) lines(5);
  position: relative;
  
  .date {
    color: $aside;
    font-style: italic;
    display: block;
    margin-bottom: lines(1);
  }
  
  h1 {
    font-size: em(42);
    line-height: lines(2, 42);
    font-style: italic;
  }
  
  .intro {
    margin-top: lines(0.5, 22);
    font-size: em(26);
    line-height: lines(1.25, 22);
    color: $emphasis;
    font-style: italic;
  }
  
  p, ul, ol, pre {
    margin-top: lines(1);
  }
  
  ul, ol {
    margin-left: lines(1);
  }
  
  figure {
    position: relative;
    margin: lines(2) 0;
  }
  
  img {
    max-width: 100%;
  }
  
  figcaption {
    text-align: center;
    color: $aside;
    margin-top: lines(0.5);
  }
  
  pre {
    white-space: pre-wrap;
  }
  
}