@charset "utf-8";
@import 'compass';
@import 'reset';


/*----------
  Typography
  ----------*/
  
$font-size: 16;
$line-height: 22;
  
@mixin elena {
  font-family: elena-web-basic, serif;
}

@mixin ff-dagny {
  font-family: ff-dagny-web-pro, sans-serif;
  font-size: em($font-size - 1, $font-size);
  line-height: lines(1, $font-size - 1)
}

@mixin monospace {
  font-family: Menlo, Consolas, monospace;
}

code {
  @include monospace;
}


/*-------
  Colours
  -------*/

$primary-hue: 270;
$secondary-hue: 270 - (360/1.618);

$background:  hsl($primary-hue, 23.6%, 9%);
$highlight:   hsl($primary-hue, 9%, 14.6%);
$purple:      hsl($primary-hue, 23.6%, 14.6%);
$offset:      hsl($primary-hue, 23.6%, 76.4%);

$aside:       hsl($secondary-hue, 2.6%, 38.2%);
$body:        hsl($secondary-hue, 5.6%, 61.8%);
$emphasis:    hsl($secondary-hue, 14.6%, 76.4%);

$link:        hsl($secondary-hue, 38.2%, 61.8%);


/*------
  Layout
  ------*/

body {
  @include elena;
  font-size: em($font-size, 16);
  line-height: lines(1);
  background: $background;
  color: $body;
  -webkit-tap-highlight-color: $link;
}

h1, h2, h3, strong {
  @include ff-dagny;
  color: $emphasis;
}

a {
  color: $link;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  
  &:hover {
    border-bottom-color: $link;
  }
  
  &:active {
    color: $aside;
    border-color: $aside;
  }
}

::selection      { background: hsl($primary-hue, 38.2%, 61.8%); color: $emphasis; }
-moz-::selection { background: hsl($primary-hue, 38.2%, 61.8%); color: $emphasis; }

p {
  margin-top: lines(1);
  //@include hyphens(auto);
  
  &:first-child { margin-top: 0; }
}

hr {
  border-bottom: em(1) solid $highlight;
  margin: lines(1) 0 (lines(1) - em(1));
}

code {
  font-size: em(13);
  line-height: lines(0.75, 13);
  color: $offset;
  font-family: Menlo, Consolas, monospace;
}

.column-wrapper {
  font-size: 0px;
  white-space: nowrap;
  //height: 100%;
  width: 100%;
  position: relative;
  //overflow: hidden;
  //overflow-x: auto;
  //-webkit-overflow-scrolling: touch;
  //overflow-scrolling: touch;
}

$narrow-column: lines(13) + em(1) + lines(0.5);
$wide-column: lines(21) + em(1) + lines(0.5);

.column {
  font-size: $font-size * 1px;
  @include box-sizing(border-box);
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  position: relative;
  //overflow: hidden;
  //overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  //overflow-scrolling: touch;
  padding: lines(2) lines(1.5) lines(3);
  width: 100%;
  //height: 100%;
  max-width: $wide-column;
  
  * {
    visibility: hidden;
    
    .wf-active &,
    .no-js &,
    .neckbeardFallback & {
      visibility: visible;
    }
  }
  
  &:last-child {
    margin-right: lines(2);
  }
  
  &:before,
  &:after {
      content: "";
      position: absolute;
      top: lines(2); bottom: lines(3);
      right: 0;
      width: 1px;
      background-color: $highlight;
  }
  
  &:before {
      right: auto;
      left: -1px;
  }
}

.column::-webkit-scrollbar {
  width: lines(0.5);
}

.column::-webkit-scrollbar-thumb {
  background: rgba(0,0,0, 0.236);
  @include border-radius( lines(0.25) );
  border: em(2) solid rgba(255,255,255, 0.09);
  border-right-width: em(1);
  //@include box-shadow( inset 0 0 em(2) rgba(255,255,255, 0.382) );
}


/*-----
  About
  -----*/

.about {
  max-width: $narrow-column;
  
  /*&:before {
      width: 100%;
      background: $purple;
      top: 0; bottom: 0;
      z-index: -1;
  }
  
  &:after {
      top: 0; bottom: 0;
      z-index: 100;
      background: desaturate( lighten($purple, 9%), 9%);
  }*/
  
  .logo {
    position: relative;
    padding-left: lines(3);
    z-index: 1;
  }

  .avatar {
    width: lines(2);
    border: lines(0.25) solid $background;
    position: absolute;
    top: lines(-0.25); left: 0;
    @include border-radius(em(3));
    @include transition(all 0.685s ease-in-out);
    
    &:hover {
      @include rotate(360deg);
    }
    
    img {
      width: 100%;
      display: block;
    }
  }
  
  hr {
    border-color: lighten($highlight, 9%);
  }
  
  h2 {
    @include elena;
    font-weight: normal;
    font-style: italic;
  }
  
  li {
    list-style: none;
    margin-top: lines(1);
    
    a {
      @include ff-dagny;
    }
    
    small {
      display: block;
      color: $body;
      @include elena;
      font-style: italic;
    }
    
    a:hover small { color: $emphasis; }
    
  }
  
  .sidenote {
    color: $aside;
  }
  
}
  
/*--------
  Projects
  --------*/

.project {
  
  img {
    display: block;
    width: 100%;
  }
  
  ul, ol {
    margin-left: em(16);
    margin-top: lines(1);
    
    ul, ol {
      margin-top: 0;
    }
  }
  
  ul li {
    list-style: none;
    position: relative;
    
    &:before {
      content: "–";
      position: absolute;
      left: em(-16);
    }
  }
  
  del {
      color: $aside;
  }
  
  h1 {
    margin-top: lines(1);
    
    &:first-child { margin-top: 0; }
  }
  
}

#writing-in-2011 {
  max-width: $narrow-column;
  
  h1,
  h1 + p {
    font-style: italic;
  }
  
  h1 + p {
    margin-top: lines(0.25);
  }
  
}
  
  
/*---------
  Old posts
  ---------*/
  
.old-post {
  max-width: lines(21);
  margin: 0 auto;
  padding: lines(3) lines(1.5) lines(5);
  position: relative;
  
  .date {
    color: $aside;
    font-style: italic;
    display: block;
    margin-bottom: lines(1);
  }
  
  h1 {
    font-size: em(42);
    line-height: lines(2, 42);
    font-style: italic;
  }
  
  .intro {
    margin-top: lines(0.5, 22);
    font-size: em(26);
    line-height: lines(1.25, 22);
    color: $emphasis;
    font-style: italic;
  }
  
  p, ul, ol, pre {
    margin-top: lines(1);
  }
  
  ul, ol {
    margin-left: lines(1);
  }
  
  figure {
    position: relative;
    margin: lines(2) 0;
  }
  
  img {
    max-width: 100%;
  }
  
  figcaption {
    text-align: center;
    color: $aside;
    margin-top: lines(0.5);
  }
  
  pre {
    white-space: pre-wrap;
  }
  
}