:markdown
  
  # Currently I'm working on…
  
  **Responsive layouts that make more sense.** This site is an experiment in separating elements into two categories: ones that can scale to fit the viewport, and ones that can't.
  
  **Experimenting with responsive design in game UIs.** I'm building a prototype MMORPG menu system that can be used on screens of any size, as well as with all popular game input methods.