:markdown

  # Grid Systems
  
  **[Frameless](http://framelessgrid.com) is another static-width grid system** for adaptive web design. It's based on the same principles as [Less Framework](http://lessframework.com/) and is an attempt to develop the idea of an adaptive static-width grid further.
  
  The concept: adapt column by column, not pixel by pixel. Create a column grid with an infinite number of columns, and activate and deactivate columns as needed, never changing the grid's column and gutter widths. The result is a grid that adapts only when there's enough space on the screen to do so, never compromising the ratios its dimensions are based on.
  
  **[Golden Grid System](http://goldengridsystem.com) is a completely fluid-width grid system** for responsive web design.
  
  I published it during the time responsive design was really gaining steam, so it ended up getting quite a bit of publicity. Unfortunately I did a bad job in presenting it, making many people misunderstand how it should and should not be used.
  
  **[Less Framework](http://lessframework.com) is an adaptive CSS grid system,** and the ancestor of my later grid system: [Frameless](http://framelessgrid.com). It adapts by switching between four static-width layouts, depending on the width of the screen. Each layout shares the same column and gutter widths, making it easy to reuse elements between them.
  
  It was my first attempt to develop an alternative to adaptive fluid-width layouts. A lot of people at the time were also looking for a way out from using fluid layouts, causing Less Framework to become quite popular. I ended up developing four major versions of it.